In [2]:
import numpy as np
import pandas as pd

In [5]:
df_full = pd.read_excel('listaGru2019.xlsx')

In [11]:
df_full.shape #ndim, size

(30405, 53)

In [14]:
df_50 = pd.read_excel('listaGru2019.xlsx', nrows=50)

In [16]:
df_50.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,archeologia,...,prawo kanoniczne,psychologia,astronomia,informatyka,matematyka,nauki biologiczne,nauki chemiczne,nauki fizyczne,nauki o Ziemi i środowisku,nauki teologiczne
0,Lp.,Unikatowy Identyfikator Czasopisma,Tytuł 1,issn,e-issn,Tytuł 2,issn,e-issn,Punkty,101.0,...,510.0,511.0,601.0,602,603,604,605,606,607,701.0
1,1,1,2D Materials,2053-1583,2053-1583,2D Materials,NaN,2053-1583,140,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,x,x,NaN,NaN
2,2,2,3 Biotech,2190-572X,2190-5738,3 Biotech,2190-572X,2190-5738,70,NaN,...,NaN,NaN,NaN,NaN,NaN,x,NaN,NaN,NaN,NaN
3,3,3,3C Empresa,2254-3376,2254-3376,NaN,NaN,NaN,20,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4,3c Tecnologia,2254-4143,2254-4143,NaN,NaN,NaN,20,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,5,3C Tic,2254-6529,2254-6529,NaN,NaN,NaN,20,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,6,3D Printing and Additive Manufacturing,2329-7662,2329-7670,3D Printing and Additive Manufacturing,2329-7662,2329-7670,100,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN,NaN,NaN
7,7,7,3D Research,2092-6731,2092-6731,3D Research,NaN,2092-6731,40,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,8,3L-Language Linguistics Literature-The Southea...,0128-5157,0128-5157,"3L: Language, Linguistics, Literature",0128-5157,NaN,70,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,9,452 F-Revista de Teoria de la Literatura y Lit...,2013-3294,2013-3294,NaN,NaN,NaN,70,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df = pd.read_excel('listaGru2019.xlsx', nrows=50, index_col=1)

In [19]:
df.head()

,Unnamed: 0,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,archeologia,filozofia,...,prawo kanoniczne,psychologia,astronomia,informatyka,matematyka,nauki biologiczne,nauki chemiczne,nauki fizyczne,nauki o Ziemi i środowisku,nauki teologiczne
Unikatowy Identyfikator Czasopisma,Lp.,Tytuł 1,issn,e-issn,Tytuł 2,issn,e-issn,Punkty,101.0,102.0,...,510.0,511.0,601.0,602,603,604,605,606,607,701.0
1,1,2D Materials,2053-1583,2053-1583,2D Materials,NaN,2053-1583,140,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,x,x,NaN,NaN
2,2,3 Biotech,2190-572X,2190-5738,3 Biotech,2190-572X,2190-5738,70,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,x,NaN,NaN,NaN,NaN
3,3,3C Empresa,2254-3376,2254-3376,NaN,NaN,NaN,20,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,3c Tecnologia,2254-4143,2254-4143,NaN,NaN,NaN,20,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df['Unnamed: 0']

 Unikatowy Identyfikator Czasopisma    Lp.
1                                        1
2                                        2
3                                        3
4                                        4
5                                        5
6                                        6
7                                        7
8                                        8
9                                        9
10                                      10
11                                      11
12                                      12
13                                      13
14                                      14
15                                      15
16                                      16
17                                      17
18                                      18
19                                      19
20                                      20
21                                      21
22                                      22
23                                      23
24                                      24
25                                      25
26                                      26
27                                      27
28                                      28
29                                      29
30                                      30
31                                      31
32                                      32
33                                      33
34                                      34
35                                      35
36                                      36
37                                      37
38                                      38
39                                      39
40                                      40
41                                      41
42                                      42
43                                      43
44                                      44
45                                      45
46                                      46
47                                      47
48                                      48
49                                      49
Name: Unnamed: 0, dtype: object